<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vn.edu.tto.mapper.CheckPointMapper">
	<insert id="insertSelfCheckPointList"
		parameterType="java.util.List">
		<foreach collection="list" item="element" index="index">
			insert into
			che_submit(user_id,question_id,issue,self_point,leader_point,principal_point,final_point,month,year,updated_at)
			values(#{element.userId},#{element.questionId},#{element.issue},CAST(#{element.selfPoint}
			AS
			double precision),#{element.leaderPoint},#{element.principalPoint},#{element.finalPoint},#{element.month},#{element.year},CURRENT_TIMESTAMP);
		</foreach>
	</insert>

	<insert id="insertCheckPointResult"
		parameterType="vn.edu.tto.domain.CheckPointResult">
		insert into
		che_result(user_id,self_point,result_type,status,month,year,self_created_at)
		values(#{userId},#{selfPoint},#{resultType},#{status},#{month},#{year},CURRENT_TIMESTAMP);
	</insert>
	
	<update id="updateCheckPointSubmitLeader"
		parameterType="java.util.List">
		<foreach collection="list" item="element" index="index">
			update che_submit set leader_point = cast(#{element.point} as double precision),
			updated_at = CURRENT_TIMESTAMP where id = #{element.chesId} and user_id = #{element.userId};
		</foreach>
	</update>

	<update id="updateCheckPointResultLeader"
		parameterType="vn.edu.tto.domain.CheckPointResult">
		update che_result set leader_point = cast(#{leaderPoint} as double precision), leader_comment = #{leaderComment},
		leader_updated_at = CURRENT_TIMESTAMP, result_type = #{resultType}, status = #{status}, leader_id = #{leaderId}
		where id = #{id} and user_id = #{userId};
	</update>
	
	<update id="updateCheckPointSubmitPrincipal"
		parameterType="java.util.List">
		<foreach collection="list" item="element" index="index">
			update che_submit set principal_point = cast(#{element.point} as double precision),
			updated_at = CURRENT_TIMESTAMP where id = #{element.chesId} and user_id = #{element.userId};
		</foreach>
	</update>

	<update id="updateCheckPointResultPrincipal"
		parameterType="vn.edu.tto.domain.CheckPointResult">
		update che_result set principal_point = cast(#{principalPoint} as double precision), principal_comment = #{principalComment},
		principal_updated_at = CURRENT_TIMESTAMP, result_type = #{resultType}, status = #{status}, principal_id = #{principalId}
		where id = #{id} and user_id = #{userId};
	</update>
</mapper>