.background {
	min-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: url(../img/bg-masthead.jpg) no-repeat center center fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

hr.style3 {
	background-color: #fff;
	border-top: 2px dotted black;
}

select {
  text-align: center;
  text-align-last: center;
}

option {
  text-align: center;
}