th {
    text-align: center !important;
    vertical-align: middle !important;
}

.tbl-center td{
	text-align: center !important;
    vertical-align: middle !important;
}

.self-check td:nth-child(2), .self-check td:nth-child(4) {
    text-align: center !important;
    vertical-align: middle !important;
}

.self-check td:nth-child(3) {
    text-align: left !important;
    vertical-align: middle !important;
}

.self-data-detail td:nth-child(1), .self-data-detail td:nth-child(3), .self-data-detail td:nth-child(5), .self-data-detail td:nth-child(6) {
    text-align: center !important;
    vertical-align: middle !important;
}

.leader-form td:nth-child(6) {
    text-align: center !important;
    vertical-align: middle !important;
}

#approve-2 td:nth-child(3), #approve-2 td:nth-child(5),#approve-2 td:nth-child(7)   {
    text-align: center !important;
    vertical-align: middle !important;
}

#approve-3 td:nth-child(3), #approve-3 td:nth-child(5),#approve-3 td:nth-child(7),#approve-3 td:nth-child(8) {
    text-align: center !important;
    vertical-align: middle !important;
}

/* .che-view-2 td:nth-child(4),.che-view-2 td:nth-child(1),.che-view-2 td:nth-child(2) { */
/*     text-align: center !important; */
/*     vertical-align: middle !important; */
/* } */
