<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trường trung học cơ sở tả thanh oai</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../../static/css/core.css" th:href="@{/css/core.css}"
    rel="stylesheet" media="screen" />
<link href="../../static/css/table.css" th:href="@{/css/table.css}"
    rel="stylesheet" media="screen" />
</head>

<body>
<h1 class="text-center">ERROR</h1>
<h1 class="text-center" th:text="${message}"></h1>
</body>
</html>