<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trường trung học cơ sở tả thanh oai</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../../static/css/core.css" th:href="@{/css/core.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<h5 class="mt-0">UBND HUYỆN THANH TRÌ</h5>
				<h5 class="mt-0">TRƯỜNG THCS TẢ THANH OAI</h5>
				<hr style="width: 200px;">
			</div>
			<div class="col-sm-8 text-center">
				<h5>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
				<h5>Độc lập – Tự do – Hạnh phúc</h5>
				<hr style="width: 200px;">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11 text-right">
				<h6>
					<em>Tả Thanh Oai, ngày.....tháng.....năm 2018</em>
				</h6>
			</div>
		</div>
		<div class="row text-center">
			<h5>
				<b>PHIẾU ĐÁNH GIÁ, XẾP LOẠI GIÁO VIÊN</b>
			</h5>
			<h5>Tháng: …./20....</h5>
		</div>
		<div class="row text-center">
			<h6>- Họ và tên: …………............................….Tổ chuyên
				môn:.........................</h6>
			<h6>- Vị trí việc làm và nhiệm vụ được phân
				công............................................</h6>
			<hr class="style3" style="width: 395px"/>
		</div>
	</div>

	<div class="container text-center">
		
	</div>
</body>